<!DOCTYPE html>
<html>
	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
	</head>
	<body>
		<h1 style="display: inline">Welcome to the Nutrition Log website,</h1> a website created by CIS330 students<br /><br />
		<p>
			Congratulations, <%= @user.name %>. You have sucessfully signed up for our website.  You will sign in using your email address, <%= @user.email %> 
		</p>
		<p>
			To log in to the website, visit our login page at <%= @url %>
		</p>
	</body>
</html>
