<h2>Search Results</h2>
	<table class ="table table-striped">
		<thead>
		<tr>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		</tr>
		</thead>
		<%= "No recipes to display" if recipes.empty? %>
		<% recipes.each do |r| %>
		<tr>
		<td><%= r.name.titleize %></td>

<td><%= link_to "View Item", recipe_path(r), :class => "btn btn-primary btn-mini" %></td>
<td><%= link_to "Consume", consume_recipe_path(r), :class => "btn btn-success btn-mini" %></td>



		</tr>
		<% end %>
		</table>


