
<div class ="span12">
<div class ="hero-unit center">

<h1>This is our CIS330 Project</h1>
<a class = "strong btn btn-primary" href="https://github.com/andyguenin/Nutrition-Log"> Check Out Our Source Code on Github</a>
</div>
</div>
